table, tr, td {
    border: none;
}

tr, td {
    border: none;
    width: 40px;
    height: 40px;
    background-color : lightgray;
 }

 .snake-body {
    background-color : pink;
}

.snake-tail {
    background-color:green;
}

.snake-head {
    background-color: blue;
}

.fruit {
    background-color:red;
}