body{
    background-color: #fdf8e5;
    font-family: 'Rubik', sans-serif;
    color : #ffca2e;
}

h1 {
    font-size: 50px;
}

table {
    border-width: 1px; 
    border-color: black;
}

tr, td {
    width: 40px;
    height: 40px;
    background-color : none;
 }

 .img-snake {
    width: 100px;
    height: 100px;
    display:block;
  }

 .button-img {
    border: none;
    cursor: pointer;
    }


 .snake-body {
    background-color : pink;
}

.snake-tail {
    background-color:green;
}

.snake-head {
    background: url(img/mexican-hat.png) no-repeat left top;
    background-size: 40px;
}

.fruit {
    background-color:red;
}